NEXTAUTH_SECRET=change_me_randomly
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/campusmart?retryWrites=true&w=majority
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ALLOWED_EMAIL_DOMAIN=college.edu
NEXT_PUBLIC_ALLOWED_DOMAIN=college.edu
ADMIN_EMAIL=admin@campusmart.com
ADMIN_PASSWORD=change_this_admin_password
